.trendings-Main {
  overflow-y: scroll !important;
  height: 600px;
  .h1-div {
    position: sticky !important;
    top: 0;
  }
  .trending-news {

    border-radius: 10px;
    // box-shadow: 0px 0px 61px -25px rgba(0, 0, 0, 0.12);
    .trending-imgg {
      margin-top: 10px;
      width: 100%;
    }
    &:nth-child(n + 2) {
      margin-top: 20px;
    }
  }
}
